@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Styles for the header*/

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
}

header h1{
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 40px;
}

li a {
    text-decoration: none;
}

a {
    color: #e5e7eb;
}

.header-top {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding: 10px;
}

.header-banner {
    display: flex;
    width: 60%;
    padding: 75px;
}

.section-one, .section-two {
    width: 50%;
}

.section-one h1 {
    font-size: 48px;
    color: #f9faf8;
}

.section-one p, .section-two{
    font-size: 18px;
    color: #e5e7eb;
}

.section-one button {
    background-color: #3882F2;
    border-radius: 5px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: bold;
    border: none;
    padding: 5px 20px;
}

.section-two {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styles for the information section */

.info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: lightslategray;
    padding: 50px;
}

h2 {
    font-size: 36px;
    color:#1f2937;
}

.squares {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 60px;
}

.border {
    width: 150px;
    height: 150px;
    border: solid;
    border-color: #3882F2;
    border-radius: 10px;
}

.obj {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.obj p {
    text-align: center;
    width: 150px;
}

/* Footer styles */

footer {
    width: 100%;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
